<div class = "main-page">
  <h1>Main Page</h1>

  <div class = "main-page-link">
    <%= link_to "Ping Pong", "#" %>
  </div>

  <div class = "main-page-link">
    <%= link_to "Fuzzball", "#" %>
  </div>

  <div class = "main-page-link">
    <%= link_to "Costume Competition", "#" %>
  </div>

</div>