<div class = "main-page">
  
  <% @teams.each do |team| %>

    <div class="title_wrapper">
      <div class="profile title">
        <%= team[:team_name] %>
        <%= "(#{team[:id]})" %>
      </div>
    </div>

    <ul>
      <div class = "player-show" style = "font-size: 2rem">
        <%= team[:player1_name] %>
        <br>
        <%= team[:player2_name] %>
        <%#= image_tag team.avatar1.url(:medium) %>
      </div>

      <!-- <li class="profile_photo">
        <div class = "player-show" style = "font-size: 2rem">
          <%#= image_tag team.avatar2.url(:medium) %>
        </div>
      </li> -->
    </ul>
  <% end %>

</div>