<div class = "ref-scorekeeping-page">
  <%= link_to "Back to All Games", users_path %>
  <h1>this page will show the selected game</h1>
  <p>this includes teams, their respective scores, and buttons to add/subtract score for each team</p>
</div>