h1
{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.team-signup-page
{
  text-align: center;
  margin-top: 10%;
}

.field, .actions
{
  line-height: 3rem;
  margin-bottom: 1rem;
}

.field input, .actions input
{
  font-size: 2rem;
}

.ref-scorekeeping-page-scoreboard, .team-scorekeeping
{
  text-align: center;
}

.photo_box
{
  border: 2px solid black;
  float:left;
  max-width: 400px;
  padding-bottom: 2%;
}

.photo_box p
{
  padding-top: 2%;
  text-align: center;
}