  <div class="navbar">
    <ul class="nav_btns">
      <li class="nav_btn"><h2>TEAMS</h2></li>
      <li class="nav_btn"><h2>PING-PONG</h2></li>
      <li class="nav_btn"><h2>FUZZBALL</h2></li>
      <li class="nav_btn"><h2>SCOREBOARD</h2></li>
      <li class="nav_btn"><h2>REGISTER</h2></li>
    </ul>
  </div>