<div class="wrapper">
    
    <div class="title_wrapper">
      <div class="title">
        PING-PONG
      </div>
    </div>
    <div class="score_wrapper">
      <ul class="score_board">
        <li class="team team_a"><h2> super sexy guys </h2></li>
        <li><h1 class="score">1 – 0</h1></li>
        <li class="team team_b"><h2> the slick ones </h2></li>
      </ul>
    </div>
    
    <div class="title_wrapper">
      <div class="title">
        FUZZBALL
      </div>
    </div>
    <div class="score_wrapper">
      <ul class="score_board">
        <li class="team team_a"><h2> light funky bunch </h2></li>
        <li><h1 class="score">25 – 20</h1></li>
        <li class="team team_b"><h2> sword-smiths </h2></li>
      </ul>
    </div>
    

    <!-- <div class="picture"></div> -->
    
  </div>
  